<div class="shadow-md bg-white relative">
  <div class="h-[50px] flex justify-center items-center">
    <div
      class="container max-w-7xl mx-auto flex justify-between items-center px-6"
    >
      <a href="#" class="text-2xl font-bold text-gray-800">FRONTEND</a>

      <nav class="hidden md:flex items-center space-x-6">
        <ul class="flex gap-[1rem] text-gray-700 font-semibold tracking-wide">
          <li><a href="#" class="hover:text-blue-500 transition">Home</a></li>
          <li><a href="#" class="hover:text-blue-500 transition">Pages</a></li>
          <li>
            <a href="#" class="hover:text-blue-500 transition">MultiLevel</a>
          </li>
          <li>
            <a href="#" class="hover:text-blue-500 transition">Portfolio</a>
          </li>
          <li><a href="#" class="hover:text-blue-500 transition">Blog</a></li>
          <li>
            <a href="#" class="hover:text-blue-500 transition">Mega Menu</a>
          </li>
          <li>
            <a href="#" class="hover:text-blue-500 transition">Admin Theme</a>
          </li>
        </ul>
        <button
          class="p-2 flex items-center justify-between rounded-lg cursor-pointer hover:bg-gray-100 transition"
        >
          <mat-icon class="text-gray-600">search</mat-icon>
        </button>
        <button class="hero-btn text-sm">LOGIN</button>
      </nav>
      <button
        class="md:hidden flex items-center justify-center h-10 w-10 border-2 border-gray-400 rounded-lg cursor-pointer text-gray-700"
      >
        &#9776;
      </button>
    </div>
  </div>
  <app-mobilenav />
</div>
