<div class="hero border-b border-neutral-300">
  <div class="container">
    <div class="content">
      <h2>EXPOSURE THE POWER OF METRONIC</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores vero
        hic quibusdam, autem fugiat natus similique alias, consequuntur veniam
        cumque sit velit. Nobis perspiciatis reiciendis nihil quod, consequuntur
        fugiat suscipit?
      </p>
      <div class="flex justify-center gap-[1rem]">
        <button class="hero-btn text-sm mt-[1rem]">EXPLORE MORE</button>

      </div>
    </div>
  </div>
</div>
