<div
  class="absolute bg-black/90 inset-0 z-30 h-[100vh] flex "
>
  <div class="p-[1rem] bg-amber-500 w-[250px]">
    <ul class="flex flex-col gap-[1rem] text-white font-semibold tracking-wide">

      <li><a href="#" class="hover:text-blue-500 transition">Home</a></li>

      <li><a href="#" class="hover:text-blue-500 transition">Pages</a></li>
      <li>
        <a href="#" class="hover:text-blue-500 transition">MultiLevel</a>
      </li>
      <li>
        <a href="#" class="hover:text-blue-500 transition">Portfolio</a>
      </li>
      <li><a href="#" class="hover:text-blue-500 transition">Blog</a></li>
      <li>
        <a href="#" class="hover:text-blue-500 transition">Mega Menu</a>
      </li>
      <li>
        <a href="#" class="hover:text-blue-500 transition">Admin Theme</a>
      </li>
    </ul>
  </div>
</div>
